.content {
  display: flex;
  flex: 1;
  width: 100%;
}

.navbar {
  background-color: #222222;
  display: flex;
  justify-content: end;
  flex-direction: row;
  height: 10%;
  width: 100%;
  border-bottom: #edd434 2px solid;
}

.navbar button {
  background-color: #222222;
  color: white;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  padding: 1% 1.1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5%;
}

.navbar button:hover {
  background-color: #555;
}

.navbar .active {
  color: #edd434;
  border: 2px solid #edd434;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 3% 4%;
  flex: 1;
  width: 100%;
}

.about-me-header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  text-decoration-line: underline;
  text-decoration-color: #edd434;
  text-decoration-thickness: 5%;
  text-underline-offset: 15%;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 4%;
  height: 90%;
  width: 100%;
}

.about-me-content p {
  text-align: justify;
  font-size: 1.3rem;
  margin-top: 2%;
}

.about-me-content img {
  float: left;
  width: 25%;
  height: auto;
  margin: 0% 0% 0% 10%;
  border: #edd434 2px solid;
  border-radius: 20%;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-right: 10%;
  padding-right: 7%;
}

.about-me-text p {
  margin-bottom: 3%;
}

.about-me-text a {
  margin-bottom: 3%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 100%;
  gap: 2%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

.skill img {
  width: 100%;
  height: 90%;
  padding: 10%;
}

a:link {
  color: #edd434;
  font-size: 1.3rem
}

a:visited {
  color: #edd434;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #333;
  align-items: center;
  color: white;
  padding: 3% 4%;
  height: 100%;
  width: 100%;
}

.home h1 {
  font-size: 5rem;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration-line: underline;
  text-decoration-color: #edd434;
  text-decoration-thickness: 5%;
  text-underline-offset: 15%;
}

.home p {
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 2.5%;
}

.home img {
  margin: 5%;
}

.contact {
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 4%;
  height: 100%;
  width: 100%;
}

.contact-header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  text-decoration-line: underline;
  text-decoration-color: #edd434;
  text-decoration-thickness: 5%;
  text-underline-offset: 15%;
  margin-bottom: 3%;
}

.contact p {
  text-align: justify;
  margin-bottom: 2%;
  font-size: 1.3rem;
}

.contact-info {
  margin: 20px auto;
  width: 50%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.contact-info-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.projects {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 4%;
  width: 100%;
}

.projects-header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  text-decoration-line: underline;
  text-decoration-color: #edd434;
  text-decoration-thickness: 5%;
  text-underline-offset: 15%;
  margin-bottom: 3%;
}

.projects p {
  text-align: justify;
  margin-bottom: 2%;
  font-size: 1.3rem;
}

.projects-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.projects-content {
  display: flex;
  flex-direction: row;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background: #222222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-bottom: 3%;
    font-size: 2.2rem;
    color: #edd434;
}

.modal-content p {
    color: white;
    font-size: 1.3rem;
}

.modal-links {
    display: flex;
    justify-content: start;
    margin-top: 3%;
}

.modal-links a {
    margin-right: 5%;
}

.close-button {
    margin-top: 15px;
    background: #edd434;
    color: black;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.close-button:hover {
    background: darkred;
}

.project-card {
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 300px;
  border: #edd434 2px solid;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.1);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  border: solid 2px #edd434;
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 6%;
}

.footer {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1.5% 0;
  height: 8.5%;
  width: 100%;
  border-top: #edd434 2px solid;
  font-size: 1rem;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
}

.footer p {
  padding: 0% 1%;
}

/* Mobile css */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
  }

  .navbar button {
    width: 100%;
    margin: 5px 0;
    font-size: 1rem;
  }

  .content {
    display: unset;
    flex: 1;
    overflow: scroll;
  }

  .home {
    padding: 2% 4%;
  }

  .home h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .home p {
    font-size: 1.1rem;
    text-align: center;
  }

  .about-me-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-me-content img {
    width: 50%;
    margin: 0 auto 20px;
  }

  .about-me-text {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .skills {
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    justify-items: center;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  .projects-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .project-card {
    width: 90%;
    margin-bottom: 10px;
  }

  .modal-content {
    width: 90%;
    font-size: 1rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact-info-item {
    margin: 10px 0;
    width: 80%;
  }

  .contact-info-item img {
    margin-bottom: 10px;
  }

  .footer {
    flex-direction: column;
    font-size: 0.9rem;
    padding: 2% 0;
    text-align: center;
    height: max-content;
  }

  .footer p {
    padding: 0.2rem 0;
  }
}